<section class="complains">
    <div class="row">
        <div class="col-lg-9">
            <div class="collapsed-sec">
                <div class="search-sec">
                    <div class="search">
                        <input type="search" class="form-control" placeholder="Search by Ticket Number" id="">
                        <button>
                            <img src="/assets/complains/loupe.svg" alt="" srcset="">
                        </button>
                    </div>
                    <div class="add-new">
                        <button>
                            <img src="/assets/complains/add.svg" alt="" srcset="">
                            Add New Ticket
                        </button>
                    </div>
                </div>
                <div class="collapsed-cards">
                    <div class="card-main mb-3">
                        <div data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <div class="cards-content">
                                <div class="num">
                                    <span>5300</span>
                                    Ticket No.
                                </div>
                                <div class="info">
                                    <h5>
                                        Government Hospitals
                                        <span class="mx-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg>
                                        </span>
                                        King Saud Hospital
                                    </h5>
                                    <div class="more-info">
                                        <h5>
                                            The lack of a medical specialty
                                        </h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <img src="/assets/complains/date.svg" alt="" srcset="">
                                                <span class="mx-1">23 October 2020 - 02:30PM</span>
                                            </li>
                                            <li>
                                                <img src="/assets/complains/phone.svg" alt="" srcset="">
                                                <span class="mx-1">Phone Call</span>
                                            </li>
                                            <li>
                                                <img src="/assets/complains/location.svg" alt="" srcset="">
                                                <span class="mx-1">Riyadh</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="flag">
                                    <img src="/assets/complains/flag.svg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="collapse show" id="collapseExample">
                            <div class="card card-body">
                                <h4>Couldn’t find Bones Medical specialt at this time</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>
                                <div class="footer">
                                    <p>
                                        <img src="/assets/complains/label.svg" alt="" srcset="">
                                        <span class="mx-1">medical bones and joints department</span>
                                    </p>
                                    <a href="">
                                        <img src="/assets/complains/attachment.svg" alt="">
                                        <span class="mx-1">View Attachments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-main mb-3">
                        <div data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <div class="cards-content">
                                <div class="num">
                                    <span>5300</span>
                                    Ticket No.
                                </div>
                                <div class="info">
                                    <h5>
                                        Government Hospitals
                                        <span class="mx-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg>
                                        </span>
                                        King Saud Hospital
                                    </h5>
                                    <div class="more-info">
                                        <h5>
                                            The lack of a medical specialty
                                        </h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <img src="/assets/complains/date.svg" alt="" srcset="">
                                                <span class="mx-1">23 October 2020 - 02:30PM</span>
                                            </li>
                                            <li>
                                                <img src="/assets/complains/phone.svg" alt="" srcset="">
                                                <span class="mx-1">Phone Call</span>
                                            </li>
                                            <li>
                                                <img src="/assets/complains/location.svg" alt="" srcset="">
                                                <span class="mx-1">Riyadh</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="flag">
                                    <img src="/assets/complains/flag2.svg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                <h4>Couldn’t find Bones Medical specialt at this time</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>
                                <div class="footer">
                                    <p>
                                        <img src="/assets/complains/label.svg" alt="" srcset="">
                                        <span class="mx-1">medical bones and joints department</span>
                                    </p>
                                    <a href="">
                                        <img src="/assets/complains/attachment.svg" alt="">
                                        <span class="mx-1">View Attachments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-main mb-3">
                        <div data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <div class="cards-content">
                                <div class="num">
                                    <span>5300</span>
                                    Ticket No.
                                </div>
                                <div class="info">
                                    <h5>
                                        Government Hospitals
                                        <span class="mx-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg>
                                        </span>
                                        King Saud Hospital
                                    </h5>
                                    <div class="more-info">
                                        <h5>
                                            The lack of a medical specialty
                                        </h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <img src="/assets/complains/date.svg" alt="" srcset="">
                                                <span class="mx-1">23 October 2020 - 02:30PM</span>
                                            </li>
                                            <li>
                                                <img src="/assets/complains/phone.svg" alt="" srcset="">
                                                <span class="mx-1">Phone Call</span>
                                            </li>
                                            <li>
                                                <img src="/assets/complains/location.svg" alt="" srcset="">
                                                <span class="mx-1">Riyadh</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="flag">
                                    <img src="/assets/complains/flag2.svg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample3">
                            <div class="card card-body">
                                <h4>Couldn’t find Bones Medical specialt at this time</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>
                                <div class="footer">
                                    <p>
                                        <img src="/assets/complains/label.svg" alt="" srcset="">
                                        <span class="mx-1">medical bones and joints department</span>
                                    </p>
                                    <a href="">
                                        <img src="/assets/complains/attachment.svg" alt="">
                                        <span class="mx-1">View Attachments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-main mb-3">
                        <div data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <div class="cards-content">
                                <div class="num">
                                    <span>5300</span>
                                    Ticket No.
                                </div>
                                <div class="info">
                                    <h5>
                                        Government Hospitals
                                        <span class="mx-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                            </svg>
                                        </span>
                                        King Saud Hospital
                                    </h5>
                                    <div class="more-info">
                                        <h5>
                                            The lack of a medical specialty
                                        </h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <img src="/assets/complains/date.svg" alt="" srcset="">
                                                <span class="mx-1">23 October 2020 - 02:30PM</span>
                                            </li>
                                            <li>
                                                <img src="/assets/complains/phone.svg" alt="" srcset="">
                                                <span class="mx-1">Phone Call</span>
                                            </li>
                                            <li>
                                                <img src="/assets/complains/location.svg" alt="" srcset="">
                                                <span class="mx-1">Riyadh</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="flag">
                                    <img src="/assets/complains/flag2.svg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample4">
                            <div class="card card-body">
                                <h4>Couldn’t find Bones Medical specialt at this time</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>
                                <div class="footer">
                                    <p>
                                        <img src="/assets/complains/label.svg" alt="" srcset="">
                                        <span class="mx-1">medical bones and joints department</span>
                                    </p>
                                    <a href="">
                                        <img src="/assets/complains/attachment.svg" alt="">
                                        <span class="mx-1">View Attachments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <section class="notifications">
                <div class="action">
                    <button>
                        <img src="/assets/complains/gear.svg" alt="">
                    </button>
                </div>
                <div class="user-profile">
                    <div class="person-img">
                        <img src="/assets/complains/user.png" alt="" srcset="">
                    </div>
                    <div class="person-info">
                        <h4>Abdullah Mohammed</h4>
                        <h5>CC Agent (Experience)</h5>
                    </div>
                </div>
                <div class="notif-head">
                    <div class="title">
                        <img src="/assets/complains/bell.svg" alt="">
                        <span>Notifications</span>
                    </div>
                    <div class="num">
                        <span>10</span>
                    </div>
                </div>
                <div class="notific-cards">
                    <div class="noti-card">
                        <h5>New Complaint ticket added and approved</h5>
                        <time>
                            <img src="/assets/complains/circle.svg" alt="" srcset=""> 
                            2 minutes ago
                        </time>
                    </div>
                    <div class="noti-card">
                        <h5>New Complaint ticket added and approved</h5>
                        <time>
                            <img src="/assets/complains/circle.svg" alt="" srcset=""> 
                            2 minutes ago
                        </time>
                    </div>
                    <div class="noti-card">
                        <h5>New Complaint ticket added and approved</h5>
                        <time>
                            <img src="/assets/complains/circle.svg" alt="" srcset=""> 
                            2 minutes ago
                        </time>
                    </div>
                    <div class="noti-card">
                        <h5>New Complaint ticket added and approved</h5>
                        <time>
                            <img src="/assets/complains/circle.svg" alt="" srcset=""> 
                            2 minutes ago
                        </time>
                    </div>
                    <div class="noti-card">
                        <h5>New Complaint ticket added and approved</h5>
                        <time>
                            <img src="/assets/complains/circle.svg" alt="" srcset=""> 
                            2 minutes ago
                        </time>
                    </div>
                    <div class="noti-card">
                        <h5>New Complaint ticket added and approved</h5>
                        <time>
                            <img src="/assets/complains/circle.svg" alt="" srcset=""> 
                            2 minutes ago
                        </time>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>