.show {
    @media (min-width: 800px) {
        display: none;
    }
    padding: 20px;
    background: #EFEFEF;
    text-align: end;
    button {
        all: unset;
        cursor: pointer;
    }
}
aside {
    width: 253px;
    background-color: #fff;
    position: sticky;
    top: 30px;
    left: 0;
    transition: all .3s;
    @media (max-width: 800px) {
        display: none;
    }
    &.fixed-class {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        z-index: 999;
    }
    .logo {
        margin-top: 30px;
        margin-bottom: 36px;
        text-align: center;
        img {
            width: 112px;
            height: 102px;
        }
    }
    .links {
        ul {
            li {
                a {
                    padding: 15px 0;
                    padding-left: 60px;
                    text-decoration: none;
                    cursor: pointer;
                    display: block;
                    transition: all .3s;
                    color: #03140C;
                    font-size: 14px;
                    img {
                        transition: all .3s;
                        margin-right: 7px;
                    }
                    &.active, &:hover {
                        background-color: #118755;
                        color: #fff;
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
    }
}