/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'UltraLight';
    src: url('/assets/fonts/UltraLight.ttf');
}
@font-face {
    font-family: 'light';
    src: url('/assets/fonts/light.ttf');
}
@font-face {
    font-family: 'medium';
    src: url('/assets/fonts/medium.ttf');
}
@font-face {
    font-family: 'bold';
    src: url('/assets/fonts/bold.ttf');
}

* {
    font-family: 'medium';
}